@import url("../vendor/normalize.css");
@import url("../vendor/fonts.css");
@import url("../src/blocks/page.css");
@import url("../src/blocks/header.css");
@import url("../src/blocks/profile.css");
@import url("../src/blocks/footer.css");
@import url("../src/blocks/card.css");
@import url("../src/blocks/cards.css");
@import url("../src/blocks/modal.css");
